body {
  background: #2d248a;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

body::-webkit-scrollbar-track {
  background-color: #0f0a42;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  background-color: #e42c64;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* TOP */

#top span {
  right: 20px;
  position: fixed;
  bottom: 20px;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  background: #e42c64;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 10;
}

#top span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -3px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}

#top span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 46px;
  height: 46px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* TOP */

/* ======================= */

/* DOWN */
#down {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
#down span {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #e42c64;
  border-bottom: 3px solid #e42c64;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* DOWN */

.main {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.photo-block {
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.my-photo {
  position: absolute;
  height: 300px;
  right: 20px;
  top: 150px;
}

.photo-bg {
  position: absolute;
  background: #e42c64;
  height: 400px;
  width: 400px;
  right: 0;
  top: 150px;
}

.about-block {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-block>div {
  margin-left: 30px;
  margin-bottom: 70px;
}

.title {
  font-weight: 300;
  font-size: 80px;
  color: white;
  line-height: 1;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.5;
  color: white;
  letter-spacing: 2px;
}

.divider {
  margin: 15px 0;
  height: 3px;
  width: 60px;
  background: #e42c64;
}

.button {
  background: #2196F3;
  padding: 30px 60px;
  margin-top: 60px;
  text-decoration: none;
  color: white;
}

.programms-item {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  margin: 10px;
}

.item:hover {
  width: 230px;
  transition: 0.3s ease;
  border-right: 3px solid #e42c64;
}

.item img {
  position: absolute;
  height: 100%;
  margin: auto;
  z-index: 9;
}

.name {
  width: 120px;
  font-weight: 300;
  font-size: 22px;
  margin-left: 90px;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* TABS 
----------------------------*/

.tabs {
  margin: 0;
  background: #1c146d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;
  z-index: 10;
}

@media screen and (max-width: 512px) {
  .tabs {
    height: 40px;
  }
}

.tablinks {
  background: #1c146d;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%;
  height: 80px;
  position: relative;
  transition: 0.3s ease;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tablinks:hover {
  color: #e42c64;
}

@media screen and (max-width: 512px) {
  .tablinks {
    height: 40px;
    font-size: 12px;
    width: 50%;
  }
}

.tablinks:before {
  background: #e42c64;
  position: absolute;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.tablinks.active {
  background-color: #2d248a;
}

.tablinks.active:before {
  content: "";
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
}

.tabcontent {
  display: none;
  min-height: 180px;
}

.tabcontent.active {
  transition: all 1s ease;
  display: block;
}

/* PRELOADER */

.preloader {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.cssload-dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 3px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.cssload-dot:before {
  content: "";
  width: 96px;
  height: 96px;
  border-radius: 138px;
  background: rgb(251, 211, 1);
  position: absolute;
  left: 50%;
  transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  margin-left: -48.5px;
  margin-top: -48.5px;
}

.cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 125.5px;
  height: 125.5px;
  margin-left: -62.75px;
  margin-top: -62.75px;
  animation: cssload-dot-colors 5.8s ease infinite;
  -o-animation: cssload-dot-colors 5.8s ease infinite;
  -ms-animation: cssload-dot-colors 5.8s ease infinite;
  -webkit-animation: cssload-dot-colors 5.8s ease infinite;
  -moz-animation: cssload-dot-colors 5.8s ease infinite;
}

.cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 5.8s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 5.8s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 5.8s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 5.8s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 5.8s 0s linear infinite;
}

.cssload-dot:nth-child(1):before {
  background-color: rgb(255, 50, 112);
  animation: cssload-dot-move 5.8s 0s ease infinite;
  -o-animation: cssload-dot-move 5.8s 0s ease infinite;
  -ms-animation: cssload-dot-move 5.8s 0s ease infinite;
  -webkit-animation: cssload-dot-move 5.8s 0s ease infinite;
  -moz-animation: cssload-dot-move 5.8s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 5.8s 1.45s linear infinite;
  -o-animation: cssload-dot-rotate-2 5.8s 1.45s linear infinite;
  -ms-animation: cssload-dot-rotate-2 5.8s 1.45s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 5.8s 1.45s linear infinite;
  -moz-animation: cssload-dot-rotate-2 5.8s 1.45s linear infinite;
}

.cssload-dot:nth-child(2):before {
  background-color: rgb(32, 139, 241);
  animation: cssload-dot-move 5.8s 1.45s ease infinite;
  -o-animation: cssload-dot-move 5.8s 1.45s ease infinite;
  -ms-animation: cssload-dot-move 5.8s 1.45s ease infinite;
  -webkit-animation: cssload-dot-move 5.8s 1.45s ease infinite;
  -moz-animation: cssload-dot-move 5.8s 1.45s ease infinite;
}

.cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 5.8s 2.9s linear infinite;
  -o-animation: cssload-dot-rotate-3 5.8s 2.9s linear infinite;
  -ms-animation: cssload-dot-rotate-3 5.8s 2.9s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 5.8s 2.9s linear infinite;
  -moz-animation: cssload-dot-rotate-3 5.8s 2.9s linear infinite;
}

.cssload-dot:nth-child(3):before {
  background-color: rgb(175, 225, 2);
  animation: cssload-dot-move 5.8s 2.9s ease infinite;
  -o-animation: cssload-dot-move 5.8s 2.9s ease infinite;
  -ms-animation: cssload-dot-move 5.8s 2.9s ease infinite;
  -webkit-animation: cssload-dot-move 5.8s 2.9s ease infinite;
  -moz-animation: cssload-dot-move 5.8s 2.9s ease infinite;
}

.cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 5.8s 4.35s linear infinite;
  -o-animation: cssload-dot-rotate-4 5.8s 4.35s linear infinite;
  -ms-animation: cssload-dot-rotate-4 5.8s 4.35s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 5.8s 4.35s linear infinite;
  -moz-animation: cssload-dot-rotate-4 5.8s 4.35s linear infinite;
}

.cssload-dot:nth-child(4):before {
  background-color: rgb(251, 211, 1);
  animation: cssload-dot-move 5.8s 4.35s ease infinite;
  -o-animation: cssload-dot-move 5.8s 4.35s ease infinite;
  -ms-animation: cssload-dot-move 5.8s 4.35s ease infinite;
  -webkit-animation: cssload-dot-move 5.8s 4.35s ease infinite;
  -moz-animation: cssload-dot-move 5.8s 4.35s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    transform: translateY(0);
  }
  18%, 22% {
    transform: translateY(-193px);
  }
  40%, 100% {
    transform: translateY(0);
  }
}

@-o-keyframes cssload-dot-move {
  0% {
    -o-transform: translateY(0);
  }
  18%, 22% {
    -o-transform: translateY(-193px);
  }
  40%, 100% {
    -o-transform: translateY(0);
  }
}

@-ms-keyframes cssload-dot-move {
  0% {
    -ms-transform: translateY(0);
  }
  18%, 22% {
    -ms-transform: translateY(-193px);
  }
  40%, 100% {
    -ms-transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-193px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cssload-dot-move {
  0% {
    -moz-transform: translateY(0);
  }
  18%, 22% {
    -moz-transform: translateY(-193px);
  }
  40%, 100% {
    -moz-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-o-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-ms-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-moz-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }
  25% {
    background-color: rgb(255, 50, 112);
  }
  50% {
    background-color: rgb(32, 139, 241);
  }
  75% {
    background-color: rgb(175, 225, 2);
  }
  100% {
    background-color: rgb(251, 211, 1);
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-dot-rotate-1 {
  0% {
    -o-transform: rotate(-105deg);
  }
  100% {
    -o-transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-dot-rotate-1 {
  0% {
    -ms-transform: rotate(-105deg);
  }
  100% {
    -ms-transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-dot-rotate-1 {
  0% {
    -moz-transform: rotate(-105deg);
  }
  100% {
    -moz-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@-o-keyframes cssload-dot-rotate-2 {
  0% {
    -o-transform: rotate(165deg);
  }
  100% {
    -o-transform: rotate(540deg);
  }
}

@-ms-keyframes cssload-dot-rotate-2 {
  0% {
    -ms-transform: rotate(165deg);
  }
  100% {
    -ms-transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes cssload-dot-rotate-2 {
  0% {
    -moz-transform: rotate(165deg);
  }
  100% {
    -moz-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }
  100% {
    transform: rotate(810deg);
  }
}

@-o-keyframes cssload-dot-rotate-3 {
  0% {
    -o-transform: rotate(435deg);
  }
  100% {
    -o-transform: rotate(810deg);
  }
}

@-ms-keyframes cssload-dot-rotate-3 {
  0% {
    -ms-transform: rotate(435deg);
  }
  100% {
    -ms-transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@-moz-keyframes cssload-dot-rotate-3 {
  0% {
    -moz-transform: rotate(435deg);
  }
  100% {
    -moz-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes cssload-dot-rotate-4 {
  0% {
    -o-transform: rotate(705deg);
  }
  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes cssload-dot-rotate-4 {
  0% {
    -ms-transform: rotate(705deg);
  }
  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes cssload-dot-rotate-4 {
  0% {
    -moz-transform: rotate(705deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}

/* PRELOADER */

/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/

.m-p-g {
  max-width: 100%;
  margin: 0 auto;
}

.m-p-g__thumbs-img {
  filter: saturate(0%);
  overflow: hidden;
  margin: 0;
  float: left;
  vertical-align: bottom;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: opacity, transform;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__thumbs-img.active {
  z-index: 50;
}

.m-p-g__thumbs-img.layout-completed {
  opacity: 1;
}

.m-p-g__thumbs-img.hide {
  opacity: 0;
}

.m-p-g__thumbs-img:hover {
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0px 0px 40px -10px #2068c7;
  transform: scale(0.9);
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  opacity: 0.7;
}

.m-p-g__fullscreen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  -webkit-transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  will-change: background, visibility;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.m-p-g__fullscreen.active {
  -webkit-transition: background 0.25s ease-out, visibility 0.01s 0s linear;
  transition: background 0.25s ease-out, visibility 0.01s 0s linear;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
}

.m-p-g__fullscreen-img {
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  max-width: 100%;
  visibility: hidden;
  will-change: visibility;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.active {
  visibility: visible;
  opacity: 1 !important;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__fullscreen-img.almost-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.m-p-g__controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 20vh;
  background: -webkit-gradient( linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__controls.active {
  opacity: 1;
  visibility: visible;
}

.m-p-g__controls-close, .m-p-g__controls-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
}

.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
  outline: none;
}

.m-p-g__controls-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.m-p-g__controls-arrow:hover {
  opacity: 1;
}

.m-p-g__controls-arrow--prev {
  left: 0;
  padding-left: 3vw;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.m-p-g__controls-arrow--next {
  right: 0;
  padding-right: 3vw;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.m-p-g__controls-close {
  position: absolute;
  top: 3vh;
  left: 3vw;
  z-index: 5;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.m-p-g__btn {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.m-p-g__btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

.m-p-g__alertBox {
  position: fixed;
  z-index: 999;
  max-width: 700px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  color: grey;
}

.m-p-g__alertBox h2 {
  color: red;
}



/* SCROLL*/







@media (max-width: 575.98px) {
  .main {
    flex-direction: column;
  }
  .photo-block {
    width: 100%;
  }
  .photo-bg {
    height: 270px;
    width: 100%;
    right: 0px;
    top: 0px;
  }
  .my-photo {
    right: 0;
    top: 23px;
  }
  .about-block {
    width: 100%;
  }
  .title {
    font-size: 40px;
  }
  .programms-item {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {}

@media (max-width: 2559.98px) {}